body {
  margin: 0;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif,
    monospace;
}

.cards {
  list-style: none;
  justify-content: center;
}

.card {
  margin: 1em;
  border-style: solid;
  border-color: rgb(14, 6, 174);
}

.card img {
  width: 100%;
}

@media (min-width: 1200px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
  }.card {
    width: calc(20% - 2rem);
  }
}

.button {
  background-color: #32103c; 
  border: 4px solid white;
  border-radius: 50%;
  color: white;
  padding: 14px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: Impact, fantasy;
}

.card-button {
    background-color: #f795be; 
    border: 2px solid white;
    border-radius: 20px;
    color: #32103c;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    font-weight: bold;
  }

  .details-button {
    background-color:rgb(14, 6, 174);
    border: 2px solid #f795be;
    border-radius: 50px;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    font-weight: bold;
  }
